<!-- <div class="container">
    <hr>
    <app-assignment-four></app-assignment-four>
</div> -->


<!-- Our own Directive -->
<!-- <br>


<br>
<div class="container">
    <div class="form-check">
        <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  id="myCheck" [(ngModel)]="condition">
      Toggle Condition
    </label>
    </div>
    <p *appUnless="condition" class="unless a">
        (A) This paragraph is displayed because the condition is false.
    </p>

    <p *appUnless="!condition" class="unless b">
        (B) Although the condition is true, this paragraph is displayed because appUnless is set to false.
    </p>
</div>

<br>
<div class="container">
    <h4>mat-select</h4>
    <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
    </mat-form-field>
</div> -->


<div class="container">
    <br>
    <app-service-tutorial></app-service-tutorial>
</div>